:root {
  /* Colores IFM */

  --azul_marino: #003366;
  --dorado: #ffd700;
  --blanco: #ffffff;

  /* Colores Innov8 */

  --azul_electrico: #0073e6;
  --naranja_neon: #ff4500;
  --negro: #000000;

  /* Colores Olimpia */

  --azul_real: #4169e1;
  --rojo: #ff0000;
  --amarillo: #ffd700;
}
