.button_language #languageToggle {
  border: none;
  background: none;
  cursor: pointer;
  width: 100px;
  height: 50px;
  display: flex;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.623);
  border-radius: 5px;
  position: absolute;
  z-index: 100;
  top: 2rem;
  right: 3rem;
  padding: 0rem 4rem;
  text-transform: none;
}

.button_language #languageToggle:hover {
  background-color: #024283;
  color: white;
  transition: 0.25s;
}

.button_language #languageToggle #languageImage {
  display: flex;
  width: 15px;
  height: 12px;
  border-radius: 100%;
}

@media only screen and (min-width: 1200px) {
  .button_language #languageToggle {
    width: 100px;
    height: 50px;
    font-size: 15px;
    top: 2rem;
    right: 3rem;
    padding: 0rem 4rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .button_language #languageToggle {
    width: 100px;
    height: 50px;
    font-size: 15px;
    top: 3rem;
    right: 2rem;
  }
}

@media only screen and (max-width: 767px) {
  .button_language #languageToggle {
    width: 75px;
    height: 35px;
    font-size: 8px;
    top: 2rem;
    right: 2rem;
  }
}
