main {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: black;
  justify-content: center;
  align-items: center;
  position: relative;
}

main .image-contain {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  filter: grayscale();
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 1;
}

main .image-contain img {
  width: 50%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}

.flash {
  opacity: 0.5 !important;
}

main .logo-contain {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  box-sizing: border-box;
}

main .logo-contain img {
  width: 50%;
  height: 70%;
}

main .logo-contain .buttoms {
  display: flex;
}

main .logo-contain .buttoms a,
main button {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
}

main #position-left,
main #position-right {
  border: none;
  background: none;
  display: flex;
  position: absolute;
  z-index: 3;
  align-items: center;
}

main #position-left:hover,
main #position-right:hover {
  color: #255784;
  background-color: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 0.1s;
  cursor: pointer;
}

main .logo-contain .buttoms a:hover {
  color: #255784;
  background-color: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 1s;
}

/* Recorrido de boton */
main .logo-contain .buttoms a span {
  position: absolute;
  display: block;
}

main .logo-contain .buttoms a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #2196f3);
}

main .logo-contain .buttoms a:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}

main .logo-contain .buttoms a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #2196f3);
}

main .logo-contain .buttoms a:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

main .logo-contain .buttoms a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #2196f3);
}

main .logo-contain .buttoms a:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

main .logo-contain .buttoms a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #2196f3);
}

main .logo-contain .buttoms a:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

#sidePanel2,
#sidePanel {
  position: fixed;
  top: 0;
  width: 500px;
  height: 100%;
  background-color: #181818ef;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  transform: translateX(100%);
  transition: transform 0.5s ease;
  padding: 40px;
  z-index: 5;
  font-size: 25px;
  color: #c0c0c0;
}

#sidePanel {
  left: 0;
  transform: translateX(-100%);
}

#sidePanel2 {
  right: 0;
  transform: translateX(100%);
}

#sidePanel2.show,
#sidePanel.show {
  transform: translateX(0);
}

@keyframes slideIn2 {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.hidden {
  display: none;
}

.show-animation2 {
  display: block;
  animation: slideIn2 0.5s forwards;
}

.show-animation {
  display: block;
  animation: slideIn 0.5s forwards;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 4;
}

/* Estilos específicos de tamaño de pantalla */
@media only screen and (min-width: 1200px) {
  main .logo-contain {
    width: 70%;
  }

  main #position-left {
    top: 50%;
    left: 2%;
    justify-content: end;
  }

  main #position-right {
    top: 50%;
    left: 80%;
    justify-content: start;
    padding: 15px 20px;
  }

  main .logo-contain .buttoms a,
  main button {
    padding: 15px 30px;
    font-size: 24px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  main .logo-contain {
    width: 80%;
  }

  main #position-left {
    top: 40%;
    left: 2%;
    justify-content: end;
  }

  main #position-right {
    top: 40%;
    left: 80%;
    justify-content: start;
  }

  main .logo-contain .buttoms a,
  main button {
    padding: 15px 10px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 767px) {
  main .image-contain {
    flex-direction: column;
  }

  main .image-contain img {
    width: 100%;
    height: 50%;
  }

  main .logo-contain {
    width: 100%;
    height: 50%;
    bottom: 10rem;
    text-align: center;
  }

  main #position-left {
    left: 0;
    top: 10rem;
  }

  main #position-right {
    right: 0;
    top: 10rem;
  }

  #sidePanel2 {
    width: 80%;
  }

  #sidePanel {
    width: 65%;
  }

  main .logo-contain .buttoms a,
  main button {
    padding: 15px 30px;
    font-size: 10px;
  }
}
