article {
  display: flex;
  width: 100%;
  background-color: white;
  justify-content: center;
  align-items: center;
}

article .contain {
  display: flex;
  width: 100%;
  align-items: center;
}

article .contain .info-contain {
  display: flex;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 5px 8px 2px #ececec;
  transition: transform 0.3s ease;
  padding: 20px;
  text-align: start;
  align-items: center;
}

article .contain .info-contain:hover {
  transform: translateY(-10px);
}

article .contain .info-contain .icon {
  display: flex;
  justify-content: center;
  padding-right: 20px;
  align-items: center;
}

article .contain .info-contain h1 {
  padding-bottom: 10px;
  font-family: "Inter", sans-serif;
}

article .contain .info-contain p {
  font-family: "Inter", sans-serif;
}

@media only screen and (min-width: 1200px) {
  article {
    height: 400px;
  }

  article .contain {
    height: 35%;
    justify-content: space-around;
  }

  article .contain .info-contain {
    width: 30%;
    height: 220px;
  }

  article .contain .info-contain .icon img {
    width: 100px;
    height: 160px;
  }

  article .contain .info-contain h1 {
    font-size: 18px;
  }

  article .contain .info-contain p {
    font-size: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  article {
    height: 400px;
  }

  article .contain {
    height: 35%;
    justify-content: space-around;
  }

  article .contain .info-contain {
    width: 30%;
    height: 15rem;
  }

  article .contain .info-contain .icon img {
    width: 5rem;
    height: 8rem;
  }

  article .contain .info-contain h1 {
    font-size: 14px;
  }

  article .contain .info-contain p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 767px) {
  article {
    height: 50rem;
  }

  article .contain {
    height: 100%;
    flex-direction: column;
    justify-content: center;
  }

  article .contain .info-contain {
    width: 100%;
    height: 13.75rem;
    margin: 10px 0px;
  }

  article .contain .info-contain .icon img {
    width: 6.25rem;
    height: 10rem;
  }

  article .contain .info-contain h1 {
    font-size: 15px;
  }

  article .contain .info-contain p {
    font-size: 12px;
  }
}
