@import url(../index/colors.css);

article {
  display: flex;
  width: 100%;
  background-color: white;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  /* background-image: url("https://i.pinimg.com/564x/68/1b/b2/681bb2fe7f4e8a04ca372aaaa3e15a06.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; */
  /* background-size: cover; */
}

article #contain1 {
  width: 30%;
  height: 100%;
}

article #contain2 {
  width: 70%;
  height: 100%;
}

article #contain2 form {
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 5rem;
  align-items: center;
  flex-direction: column;
}

article #contain2 form #name,
article #contain2 form #email,
article #contain2 form #subject {
  border-radius: 5px;
  border: 1px solid black;
  width: 15rem;
  height: 2rem;
}

article #contain2 form textarea {
  border-radius: 5px;
  border: 1px solid black;
  width: 25rem;
  height: 10rem;
}

article #contain2 form #submit {
  background: none;
  border: none;
  background-color: var(--azul_marino);
  color: white;
  width: 12rem;
  height: 2rem;
  font-size: 1rem;
  border-radius: 5px;
}

article #contain2 form #submit:hover {
  cursor: pointer;
  background-color: #003f7e;
}

article #contain1 .content-contact {
  display: flex;
  /* width: 100%;
  height: 100%; */
  font-size: 24px;
  flex-direction: column;
  text-align: start;
  justify-content: center;
  align-items: center;
}

article #contain1 .content-contact h1 {
  color: var(--azul_marino);
  font-size: 50px;
}

article #contain1 .content-contact img {
  filter: invert(48%) sepia(93%) saturate(1392%) hue-rotate(184deg)
    brightness(94%) contrast(93%);
}

@media only screen and (min-width: 1200px) {
  article {
    height: 50rem;
  }

  article #contain1 .content-contact {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  article {
    height: 50rem;
  }

  article #contain1 .content-contact {
    width: 100%;
    height: 40%;
  }
}
@media only screen and (max-width: 767px) {
  article {
    height: 50rem;
  }

  article #contain1 .content-contact {
    width: 100%;
    height: 20%;
  }
}
