@media only screen and (min-width: 768px) and (max-width: 1199px) {
  article {
    display: flex;
    width: 100%;
    height: 400px;
    background-color: white;
    justify-content: center;
    align-items: center;
  }

  article .contain {
    display: flex;
    width: 100%;
    height: 35%;
    justify-content: space-around;
    align-items: center;
  }

  article .contain .info-contain {
    display: flex;
    width: 30%;
    height: 15rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 5px 8px 2px #ececec;
    transition: transform 0.3s ease;
    padding: 20px;
    text-align: start;
    align-items: center;
  }

  article .contain .info-contain:hover {
    transform: translateY(-10px);
  }

  article .contain .info-contain .icon {
    display: flex;
    justify-content: center;
    padding-right: 20px;
    align-items: center;
  }

  article .contain .info-contain .icon img {
    width: 5rem;
    height: 8rem;
  }

  article .contain .info-contain h1 {
    font-size: 14px;
    padding-bottom: 10px;
    font-family: "Inter", sans-serif;
  }

  article .contain .info-contain p {
    font-size: 12px;
    font-family: "Inter", sans-serif;
  }
}
