@import url(../index/colors.css);

footer {
  display: flex;
  width: 100%;
  height: 200px;
  background-color: #111111;
}

footer .contain {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  flex-direction: column;
}

footer #redes {
  display: flex;
  width: 35%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}

footer img {
  width: 60px;
  padding: 10px;
  filter: invert(75%) sepia(83%) saturate(511%) hue-rotate(356deg)
    brightness(100%) contrast(107%);
}

@media only screen and (min-width: 1200px) {
  footer .contain {
    width: 50%;
    height: 100%;

    color: whitesmoke;
  }

  footer #redes {
    width: 35%;
    height: 100%;
  }

  footer img {
    width: 60px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  footer .contain {
    width: 50%;
    height: 100%;
    color: whitesmoke;
  }

  footer #redes {
    width: 35%;
    height: 100%;
  }

  footer img {
    width: 60px;
  }
}

@media only screen and (max-width: 767px) {
  footer {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  footer .contain {
    width: 100%;
    height: 50%;
    color: rgb(145, 145, 145);
    text-align: center;
    padding: 0px 20px;
  }

  footer #redes {
    width: 100%;
    height: 50%;
  }

  footer img {
    width: 50px;
  }
}
